<h1>All the news</h1>

<% if !@pcategories.empty? %>
  <% @pcategories.each do |pcategory| %>
    <div>  
      <%= pcategory.name %>
      <%= link_to 'edit', edit_primecategory_path(pcategory) %> 
      <%= link_to 'delete', primecategory_path(pcategory),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Add new category', new_primecategory_path %>