<div class="container">
  
  <div class="starter-template text-center">
    <h1><%= @category.name %></h1>
    
    <!-- loop for articles START -->
    
    <% for article in @articles %>
    
      <h3> <%= link_to article.name, controller: :articles, action: :show, id: article.id %> </h3>
    <p> <%= truncate( article.body, length: 50 ) %> </p>
    <p> Čas od objave novice: <%= time_ago_in_words ( article.created_at ) %> </p>
    
    
    <% end %>
    <!-- loop for articles START -->
  </div>

</div><!-- /.container -->
