/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.body { 
  border: 1px solid silver;
  padding: 10px 40px 40px 40px; 
  margin-top: 30px;
  margin-bottom: 50px;
}

.primec {  
  margin-bottom: -12px
}

.list-of-news{  
  margin-bottom: -8px
  
}

.sub {
  margin: 0 3px 10px 0
}

.padding-left {
  margin-left: 10px
}
.cms-made-by{
	margin-top: -20px;
}
.Revalia{
	font-family: 'Revalia', cursive;
}
h1.Revalia{
	font-size: 6em;
}
.Montez{
	font-family: 'Montez', cursive;
}
.starter-template {
 margin-top: 20%; 
}  