<h1>All the news</h1>

<% if !@categories.empty? %>
  <% @categories.each do |category| %>
    <div>  
      <%= category.name %>
      <%= link_to 'edit', edit_category_path(category) %> 
      <%= link_to 'delete', category_path(category),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
<%= link_to 'Add new category', new_category_path %>